.nav
{
  &.nav-tabs
  {
    border-bottom: 0;

    .nav-item
    {
      .nav-link
      {
        background: #dcdcde;
        border: 0;
        padding: 0.5rem 0.7rem;
        margin-bottom: 0;
        color: #1d2327;
        font-weight: 600;

        &.active
        {
          background: #ffffff;
        }
      }
    }
  }
}