.nav-connect
{
  &.status-0
  {
    border-color: #fd0;
    color: #1e1e1e;
  }

  &.status-1
  {
    border-color: #c4161c;
    color: #c4161c;
  }

  &.status-2
  {
    border-color: #7f54b3;
    color: #7f54b3;
  }

  &.status-3
  {
    border-color: #128003;
    color: #128003;
  }
}

.nav
{
  &.nav-tabs
  {
    border-bottom: 0;

    .nav-item
    {
      .nav-link
      {
        background: #dcdcde;
        border: 0;
        padding: 0.5rem 0.7rem;
        margin-bottom: 0;
        color: #1d2327;
        font-weight: 600;

        &.active
        {
          background: #ffffff;
        }
      }
    }
  }
}