.woocommerce_page_wc1c
{
  .wp-header-end
  {
    margin-bottom: 10px;
  }

  .add_config
  {
    text-align: right;
    padding-bottom: 0!important;
    padding-top: 1em!important;
    margin: 0!important;
  }

  .settings-update
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .help-tab-content
  {
    margin: 0;
  }
}

.wc1c-title-wrap
{
  padding: 5px 7px;
  background-color: #f7f7f7;

  h3
  {
    margin: 0.1em 0;
    font-size: 1.2em;
  }

  p
  {
    margin: 0.3em 0;
  }
}

.wc1c-admin-settings
{
  .wc1c-title-wrap
  {
    background-color: #dcdcde;
    margin-top: 30px;
  }
}

.wc1c-admin-connection
{
  .wc1c-title-wrap
  {
    margin-top: 10px;
  }
}