.woocommerce_page_wc1c
{
  .wp-header-end
  {
    margin-bottom: 10px;
  }

  .add_config
  {
    text-align: right;
    padding-bottom: 0!important;
    padding-top: 1em!important;
    margin: 0!important;
  }

  .settings-update
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .help-tab-content
  {
    margin: 0;
  }

  .button-danger
  {
    color: #fff;
    background-color: darkred;
    border-color: red;
  }
}

.wc1c-title-wrap
{
  padding: 5px 7px;
  background-color: #f0f0f1;

  h3
  {
    margin: 0.1em 0;
    font-size: 1.2em;
  }

  p
  {
    margin: 0.3em 0;
  }
}

.wc1c-admin-settings
{
  .wc1c-title-wrap
  {
    background-color: #f0f0f1;
    margin-top: 30px;
  }
}

.wc1c-admin-connection
{
  .wc1c-title-wrap
  {
    margin-top: 10px;
  }
}

.wc1c_urls
{
  border: 2px dashed #eeeeee;
}

.wc1c-custom-metas
{
  border: 1px solid #ccd0d4;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}