.woocommerce_page_wc1c
{
  .wc1c-admin-form-table
  {
    margin: 0;

    .titledesc
    {
      padding-left: 5px;
    }
  }

  .wc1c-form-table
  {
    td
    {
      padding: 15px 0;
    }
  }

  .date_create
  {
    width: 130px;
    max-width: 130px;
  }

  .date_activity
  {
    width: 130px;
    max-width: 130px;
  }

  .remove
  {
    a
    {
      color: #c4161c;
    }
  }

  .check-column
  {
    padding: 4px 0 0 0!important;
    vertical-align: middle!important;
  }
}