.woocommerce_page_wc1c
{
  .wc1c-admin-form-table
  {
    margin: 0;

    .titledesc
    {
      padding-left: 5px;
    }
  }

  .wc1c-form-table
  {
    td
    {
      padding: 10px 0;
    }

    tr
    {
    }

    .titledesc
    {
      padding: 10px 10px 10px 0;
    }

    fieldset
    {
      padding-right: 7px;
      padding-bottom: 7px;
      border-right: 1px dashed #ccd0d4;
      border-bottom: 1px dashed #ccd0d4;

      hr
      {
        border: 1px solid #f0f0f1!important;
      }
    }
  }

  .date_create
  {
    width: 130px;
    max-width: 130px;
  }

  .date_activity
  {
    width: 130px;
    max-width: 130px;
  }

  .remove
  {
    a
    {
      color: #c4161c;
    }
  }

  .check-column
  {
    padding: 4px 0 0 0!important;
    vertical-align: middle!important;
  }
}