.wc1c-sidebar-toc
{
  .list-group-item
  {
    padding: .3rem 0.5rem;
    margin-top: 0!important;
    border: 0!important;
    transition: all 0.7s;
  }

  .is-active-link
  {
    font-weight: normal;
  }
}