/* Base Styles */
@import 'wizards/core';

/* Theme: Default */
@import 'wizards/themes/default';

/* Theme: Dots */
@import 'wizards/themes/dots';

/* Theme: Arrows */
@import 'wizards/themes/arrows';