/* Core Styles */

// To leverage the native smooth-scrolling by the browser (currently available in Firefox 36+ and Chrome 49+)
// body, .smooth-container { scroll-behavior: smooth }

.toc {
  overflow-y: auto;
}

.toc > .toc-list {
  overflow: hidden;
  position: relative;

  li {
    list-style: none;
  }
}

.js-toc {
  overflow-y: hidden;
}

.toc-list {
  //margin: 0;
  //padding-left: 10px;
}

a.toc-link {
  color: currentColor;
  height: 100%;
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.is-collapsed {
  max-height: 0;
}

.is-position-fixed {
 // position: fixed !important;
  top:40px;
}

.is-active-link {
  font-weight: 700;
}

.wc1c-toc
{
  .list-group-item
  {
    margin: 0;
    border: 0;
    padding-left: 10px;
    border-radius: 0;

    &.active
    {
      background-color: #f0f0f1;
    }

    a
    {
      text-decoration: none;

      &.is-active-link
      {
        //color: #FFFFFF;
      }
    }
  }
}